
.column h2 {
  color: blue;
}

img {
  width: 300px;
  height: auto;
  margin: 15px;
}

body {
  color: pink;
}
.header h1 {
  background-color: red;
}
.body {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1000px){
  .column {
    width: 300px;
    float: left;
    margin: 15px;

  }
}
@media screen and (max-width: 999px) and (min-width: 700px){
  body{
    background-color: #32CD32;
  }
  .column {
    width: 150px;
    float: left;
    margin: 10px;

  }
  img{
    width: 150px;
    height: auto;
    margin: 15px;
  }
}
@media screen and (max-width: 480px){
  .column {
    width: 150px;
    float: left;
    margin: 10px;
  }
  img{
  width: 50px;
  height: auto;
  margin: 15px;
 }
}
